:root {
  --highlight1: #672a31;
  --highlight2: #964a62;
  --main1: #aaa9bf;
  --main2: #84839a;
  --main3: #636176;
  --highlight3: #c16f6d;
  --background1: #bbbbbb; 
  --main4: #7c6c77; 
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main1)
}

#sidebar {
  background-color: var(--background1);
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  margin: 0;
  padding: 0;
  padding-left: 0px;
}

#sidebar ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--light-gray);
}

#sidebar ul li a:hover {
  background-color: var(--highlight3);
  font-weight: bold
}

#sidebar ul li mail {
  text-decoration: underline;
}

#sidebar a.current {
  font-weight: bold;
  background-color: var(--highlight2);
}

#main {
  margin-left: 20%;
  padding: 0px;
}

#header {
  background-color: var(--highlight1);
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

#top-box {
  background-color: var(--main3);
  padding: 20px;
  font-size: 18px;
  color: white;
}

#top-box p a {
  color:rgb(0, 158, 194)
}
#page-header-box p a {
  color:rgb(0, 158, 194)
}

#middle-box {
  background-color: var(--main2);
  padding: 20px;
  font-size: 18px;
  color: white;
}

#bottom-box {
  background-color: var(--main1);
  padding: 20px;
  font-size: 18px;
  color: white;
}

#image {
  max-width: 100%;
  max-height: 100%;
  display: block; 
}

#page-header-box{
  background-color: var(--main3);
  padding: 20px;
  font-size: 18px;
  color: white

}

#data-box{
  background-color: var(--main1);
  border-top: 2px solid var(--main4);
  padding: 20px;
  font-size: 18px;
}

#question-box{
  background-color: var(--main1);
  border-top: 2px solid var(--main4);
  padding: 20px;
  font-size: 18px;
}

#code-block {
  background-color: #000000;
  color: rgb(0, 158, 194);
  font-size: 14px;
  overflow: auto;
  font-size-adjust: 0.5;
  padding: 0px;
}

#add-data {
  background-color: var(main1);
  padding: 20px;
  font-size: 18px;
}

pre, code, i1{
  white-space: pre;
}

